/* 
  You can override the default Infima variables here.
  Here we're intentionally setting the same tokens for light and dark mode, since Radix handles this automatically.
*/
:root,
html[data-theme="light"],
html[data-theme="dark"] {
  --ifm-color-secondary: var(--gray-3);
  --ifm-color-success: var(--green-9);
  --ifm-color-info: var(--blue-9);
  --ifm-color-warning: var(--amber-9);
  --ifm-color-danger: var(--red-9);

  --ifm-color-secondary-dark: var(--gray-10);
  --ifm-color-secondary-darker: var(--gray-11);
  --ifm-color-secondary-darkest: var(--gray-12);
  --ifm-color-secondary-light: var(--gray-9);
  --ifm-color-secondary-lighter: var(--gray-8);
  --ifm-color-secondary-lightest: var(--gray-7);
  --ifm-color-secondary-contrast-background: var(--gray-1);
  --ifm-color-secondary-contrast-foreground: var(--gray-10);

  --ifm-color-success-dark: var(--green-10);
  --ifm-color-success-darker: var(--green-11);
  --ifm-color-success-darkest: var(--green-12);
  --ifm-color-success-light: var(--green-9);
  --ifm-color-success-lighter: var(--green-8);
  --ifm-color-success-lightest: var(--green-7);
  --ifm-color-success-contrast-background: var(--green-1);
  --ifm-color-success-contrast-foreground: var(--green-10);

  --ifm-color-info-dark: var(--blue-10);
  --ifm-color-info-darker: var(--blue-11);
  --ifm-color-info-darkest: var(--blue-12);
  --ifm-color-info-light: var(--blue-9);
  --ifm-color-info-lighter: var(--blue-8);
  --ifm-color-info-lightest: var(--blue-7);
  --ifm-color-info-contrast-background: var(--blue-1);
  --ifm-color-info-contrast-foreground: var(--blue-10);

  --ifm-color-warning-dark: var(--amber-10);
  --ifm-color-warning-darker: var(--amber-11);
  --ifm-color-warning-darkest: var(--amber-12);
  --ifm-color-warning-light: var(--amber-9);
  --ifm-color-warning-lighter: var(--amber-8);
  --ifm-color-warning-lightest: var(--amber-7);
  --ifm-color-warning-contrast-background: var(--amber-1);
  --ifm-color-warning-contrast-foreground: var(--amber-10);

  --ifm-color-danger-dark: var(--red-10);
  --ifm-color-danger-darker: var(--red-11);
  --ifm-color-danger-darkest: var(--red-12);
  --ifm-color-danger-light: var(--red-9);
  --ifm-color-danger-lighter: var(--red-8);
  --ifm-color-danger-lightest: var(--red-7);
  --ifm-color-danger-contrast-background: var(--red-1);
  --ifm-color-danger-contrast-foreground: var(--red-10);

  --ifm-color-white: #fff;
  --ifm-color-black: #000;
  --ifm-color-gray-0: var(--ifm-color-white);
  --ifm-color-gray-100: var(--gray-3);
  --ifm-color-gray-200: var(--gray-4);
  --ifm-color-gray-300: var(--gray-5);
  --ifm-color-gray-400: var(--gray-6);
  --ifm-color-gray-500: var(--gray-7);
  --ifm-color-gray-600: var(--gray-8);
  --ifm-color-gray-700: var(--gray-9);
  --ifm-color-gray-800: var(--gray-10);
  --ifm-color-gray-900: var(--gray-11);
  --ifm-color-gray-1000: var(--gray-12);

  --ifm-color-emphasis-0: var(--ifm-color-gray-0);
  --ifm-color-emphasis-100: var(--ifm-color-gray-100);
  --ifm-color-emphasis-200: var(--ifm-color-gray-200);
  --ifm-color-emphasis-300: var(--ifm-color-gray-300);
  --ifm-color-emphasis-400: var(--ifm-color-gray-400);
  --ifm-color-emphasis-600: var(--ifm-color-gray-600);
  --ifm-color-emphasis-700: var(--ifm-color-gray-700);
  --ifm-color-emphasis-800: var(--ifm-color-gray-800);
  --ifm-color-emphasis-900: var(--ifm-color-gray-900);
  --ifm-color-emphasis-1000: var(--ifm-color-gray-1000);

  --ifm-color-content: var(--ifm-color-emphasis-900);
  --ifm-color-content-secondary: var(--gray-11);

  --ifm-menu-color: var(--gray-11);

  background-color: var(--color-background);

  --ifm-color-primary: var(--cyan-10);
  --ifm-color-primary-dark: var(--cyan-10);
  --ifm-color-primary-darker: var(--cyan-11);
  --ifm-color-primary-darkest: var(--cyan-12);
  --ifm-color-primary-light: var(--cyan-9);
  --ifm-color-primary-lighter: var(--cyan-8);
  --ifm-color-primary-lightest: var(--cyan-7);

  --ifm-tabs-color: var(--ifm-font-color-secondary);
  --ifm-tabs-color-active: var(--ifm-color-primary);
  --ifm-tabs-color-active-border: var(--ifm-tabs-color-active);

  --ifm-breadcrumb-color-active: var(--ifm-color-primary);
  --docusaurus-progress-bar-color: var(--ifm-color-primary);
  --ifm-navbar-link-hover-color: var(--ifm-color-secondary-darkest);
  --ifm-menu-color-active: var(--ifm-color-secondary-darkest);

  --ifm-color-content: var(--ifm-color-emphasis-900);
  --ifm-color-content-inverse: var(--ifm-color-content);

  --ifm-alert-color: var(--cyan-10);
  --ifm-alert-border-color: var(--cyan-10);

  --docusaurus-highlighted-code-line-bg: var(--gray-4);
  --docusaurus-details-decoration-color: var(--gray-11);
}

.radix-themes {
  --default-font-family: "DM Sans", sans-serif;
  --ifm-font-family-base: var(--default-font-family);

  --ifm-color-primary: var(--accent-10);
  --ifm-color-primary-dark: var(--accent-10);
  --ifm-color-primary-darker: var(--accent-11);
  --ifm-color-primary-darkest: var(--accent-12);
  --ifm-color-primary-light: var(--accent-9);
  --ifm-color-primary-lighter: var(--accent-8);
  --ifm-color-primary-lightest: var(--accent-7);

  --color-background: var(--gray-1);
  --ifm-background-color: var(--gray-1);
  --base-card-surface-hover-box-shadow: 0 0 0 1px
    color-mix(in oklab, var(--gray-a8), var(--gray-8) 25%);
}

html {
  --ifm-font-family-base: unset;
}

/* Duplicating the Radix link styles, since Docusaurus imposes them at higher specificity */
a.rt-Link:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-a6);
  color: var(--accent-a11);
}
