:root {
  --doc-sidebar-width: 224px;
}

.theme-doc-sidebar-container {
  background-color: var(--gray-3);
}

.navbar {
  --ifm-navbar-background-color: var(--gray-3);
  box-shadow: none;
}

main {
  min-height: 100vh;
}

.navbar__logo {
  color: red;
}

footer.footer,
footer.footer--dark {
  --ifm-footer-background-color: var(--gray-3);
  --ifm-footer-color: var(--gray-11);
  --ifm-footer-link-color: var(--gray-11);
}

aside.theme-doc-sidebar-container {
  border-right-width: 0;
}

nav.menu {
  overflow-y: hidden;
  border-width: 0;
}

nav.menu:hover,
nav.menu:active,
nav.menu:focus {
  overflow-y: auto;
}
