:root {
  --doc-sidebar-width: 224px;
  --ifm-menu-link-sublist-icon: url("/img/chevron-up.svg");
}

.theme-doc-sidebar-container {
  background-color: var(--gray-3);
}

.navbar {
  --ifm-navbar-background-color: var(--gray-3);
  box-shadow: none;
}

main {
  min-height: 100vh;
}

.navbar__logo {
  color: red;
}

footer.footer,
footer.footer--dark {
  --ifm-footer-background-color: var(--gray-3);
  --ifm-footer-color: var(--gray-11);
  --ifm-footer-link-color: var(--gray-11);
}

aside.theme-doc-sidebar-container {
  border-right-width: 0;
}

nav.menu {
  overflow-y: hidden;
  border-width: 0;
}

nav.menu:hover,
nav.menu:active,
nav.menu:focus {
  overflow-y: auto;
}

/* TODO if we ever swizzle out the side nav completely, remove this */
.radix-themes .menu__link {
  font-size: var(--font-size-2);
}

.menu__link--sublist-caret::after {
  background: var(--ifm-menu-link-sublist-icon) 50%;
  width: 16px;
  height: 16px;
  padding: 0;
}
